[Unit]
Description=OpenDaylight SDN Controller
Documentation=https://wiki.opendaylight.org/view/Main_Page https://cloudrouter.org/
After=network.service

[Service]
Type=forking
ExecStart=/opt/opendaylight/opendaylight-helium/bin/start
User=odl
Group=odl

[Install]
WantedBy=multi-user.target
