[submodule "contrib-shared"]
	path = contrib-shared
	url = https://github.com/cloudrouter/cloudrouter-contrib-shared.git
[submodule "components/dpdk"]
	path = components/dpdk
	url = https://github.com/cloudrouter/cloudrouter-component-dpdk.git
[submodule "components/opendaylight-lithium"]
	path = components/opendaylight-lithium
	url = https://github.com/cloudrouter/cloudrouter-component-odl-lithium.git
[submodule "components/openvswitch"]
	path = components/openvswitch
	url = https://github.com/cloudrouter/cloudrouter-component-openvswitch.git
[submodule "components/cloudrouter-fedora-repo"]
	path = components/cloudrouter-fedora-repo
	url = https://github.com/cloudrouter/cloudrouter-fedora-repo.git
[submodule "components/cloudrouter-centos-repo"]
	path = components/cloudrouter-centos-repo
	url = https://github.com/cloudrouter/cloudrouter-centos-repo.git
[submodule "components/cloudrouter-centos-release"]
	path = components/cloudrouter-centos-release
	url = https://github.com/cloudrouter/cloudrouter-centos-release.git
[submodule "components/cloudrouter-fedora-release"]
	path = components/cloudrouter-fedora-release
	url = https://github.com/cloudrouter/cloudrouter-fedora-release.git
