[Unit]
Description=Open Network Operating System (ONOS)
Documentation=https://wiki.onosproject.org/display/ONOS/ONOS+Documentation+Library https://cloudrouter.org/
After=network.service

[Service]
Type=forking
ExecStart=/opt/onos/apache-karaf-3.0.3/bin/start
User=onos
Group=onos

[Install]
WantedBy=multi-user.target
